.button{
    font-weight: 250;
    font-size: 13px;

height: 30px;
    width: 60px;
	background-color:#1C6EA4;
}

.textWidth{
    width: 20%;
}

.inlineerror{
    color: #f44336
}

.mandatory{
     content:"*" ;
     color:red   
     }